body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.img{
    width: 100%;
    height: 100vh;
    background: url(../images/air.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    padding: 95px 0;
    justify-content: space-between;
    display: flex;     
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform:uppercase;
}
.get-in-touch{
    font-weight: bolder;
    margin-top: 70px;
    margin-left: 70px;
}
.heading{
    height: 50px;
    width: 100%;
    background-color:#d9d9d9;
   
}
.heading p{
    padding: 13px 40px;
    font-size: 20px;
    font-weight: 600px;
    margin-top: 0px;
}
.textarea{
    height: 100px;
    width: 85%;
    margin: 30px 5px;
}
.subject{
    width: 90%;
}
.name-email{
    display: flex;
    flex-direction: row;

}
.block{
    margin: 30px 5px;
    width: 300px;
}
.email{
    margin: 30px 10px;
    width: 300px;
}
.main{
    padding: 20px;
    display: flex;
}
.main h3{
    display: block;
}
.left-main{
    height: 400px;
    width:  60%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin:  5px 20px;
}
.block{
    display: block;
}
.btn{
    height: 50px;
    width: 120px;
    margin: 40px 5px;
    background-color: rgb(37, 72,142);
    border: none;
}
.icon{
    height: 20px;
}
.right-main{
    display: flex;
    flex-direction: column;
   text-align: center;
   justify-content: start;
   margin: 0px 180px;
}
.right-mains{
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.right-mains h3{
    margin: 2px 0px;
}
.right-mains p{
    margin: 2px 0px;
}