body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
}


/* Navbar start */
.navbar {
    background-color: rgb(37, 72, 142);
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    border-bottom: #888888 1px solid;
    box-shadow: 0 0 10px #888888;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 3;
    display: flex;
    justify-content: left;
}

.navbar ul li {
    flex: 1;
    text-align: center;
}

.navbar ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    font-size: 18px;
}

.navbar ul li a:hover {
    color: gold;
}

h1 {
    text-align: left;
    margin-top: 20px;
    margin-left: 30px;
}

@media screen and (max-width:768px) {
    .navbar {
        height: 300px;
        background-color: rgb(37, 72, 142);
        box-shadow: 0 0 10px #888888;
        padding: 10px;
        width: 332px;
        position: relative;
    }
    .navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 3;
        display: flex;
        flex-direction: column;
        justify-content: left;

    }

    .navbar ul li {
        flex: 1;
        text-align: start;
    }

    .navbar ul li a {
        display: block;
        color: white;
        text-decoration: none;
        padding: 10px;
        font-size: 12px;
    }

    .navbar ul li a:hover {
        color: rgb(255, 230, 0);
    }

    h1 {
        text-align: left;
        margin-top: 15px;
        margin-left: 20px;
        font-size: 24px;
    }
}

/* navbar end */
.container-about {
    height: 650px;
    background-image: url(./../../image/about-image/airline.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 57px;
}

.container-cover {
    background-color: rgba(0, 0, 0, 0.5);
    height: 550px;
    padding-top: 100px;
}

.heading-box-container {
    height: 400px;
    width: 70%;
    margin: 0px auto;
    text-align: center;
    padding-left: 1px;
    padding-top: 70px;
    padding-bottom: 5px;
    padding-right: 1px;
    background-color: rgba(0, 0, 0, 0.5);
}

.head-box-container-title {
    font-size: 37px;
    font-weight: bold;
    color: #fff;
    display: block;
}

.head-box-container-sub-title {
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    display: block;
}

.head-box {
    margin-bottom: 50px;
    display: block;
}

.head-box-input-group {
    border: 1px solid #fff;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.5);
}

.head-box-input {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    color: rgb(229, 219, 219);
    font-size: 17px;
    padding: 10px 50px;
}

.head-box-button {
    background-color: orange;
    color: #fff;
    border: none;
    font-size: 18px;
    padding: 11px 22px;
    border-radius: 5px;
}

.head-box-airline {
    margin-top: -100px;
}

.marquee-con {
    height: 300px;
    width: 300px;
}

.main-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 170px;
    margin-top: 20px;
    align-items: end;
}

.main-container-box {
    border: 1px solid rgb(206, 203, 203);
    height: 80px;
    width: 290px;
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
    text-align: center;
    padding-top: 29px;

}

.main-container-total {
    font-size: 30px;
    font-weight: bold;
    display: block;
}

.main-container-total-icon {
    color: green;
}

.main-container-title {
    display: block;
}




.section-header {
    height: 130px;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.section-heading-title {
    font-size: 40px;
    font-weight: bold;
}

.section-heading-sub-title {
    font-size: 20px;
    font-weight: 400;
    padding-top: 20px;
    display: block;
    color: rgb(99, 98, 98);
}

.card-container {
    height: 300px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.team-card {
    width: 200px;
    text-align: center;
    padding: 10px;

}

.team-card:hover {
    width: 200px;
    text-align: center;
    box-shadow: 0px 0px 10px 0.5px rgb(212, 239, 241);
}

.about-caed-img {
    height: 130px;
    width: 130px;
    border-radius: 130px;
    margin: 10px auto;
    display: block;
}

.card-title-name {
    font-weight: bold;
    font-size: 23px;
    display: block;
}

.card-sub-title-name {
    color: rgb(99, 98, 98);
    font-weight: 400;
    font-size: 15px;
    margin-top: 10px;
    display: block;
}

.about-card-icon-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 50px;
    margin-top: 25px;
}

.card-icon {
    height: 30px;
    width: 30px;
    background-color: rgb(246, 243, 243);
    border-radius: 5px;
}

.about-card-icons {
    height: 15px;
    margin-top: 6px;
}

.marquee-one {
    margin-top: -375px;
    width: 100%;
    height: 700px;
}


@media screen and (max-width:768px) {
    .container-about {
        height: 220px;
        background-image: url(./../../image/about-image/airline.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin-top: 0px;
    }

    .container-cover {
        background-color: rgba(0, 0, 0, 0.5);
        height: 200px;
        padding-top: 20px;
    }

    .heading-box-container {
        height: 150px;
        width: 50%;
        margin: 0px auto;
        text-align: center;
        padding-left: 1px;
        padding-top: 15px;
        padding-bottom: 5px;
        padding-right: 1px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .head-box-container-title {
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        display: block;
    }

    .head-box-container-sub-title {
        font-size: 10px;
        font-weight: 400;
        color: #fff;
        display: block;
    }

    .head-box {
        margin-bottom: 10px;
        display: block;
    }

    .head-box-input-group {
        border: 1px solid #fff;
        width: 80%;
        margin: 0 auto;
        padding: 3px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .head-box-input {
        background-color: rgba(0, 0, 0, 0.1);
        border: none;
        color: rgb(229, 219, 219);
        font-size: 7px;
        padding: 1px 5px;
        width: 50px;
    }

    .head-box-button {
        background-color: orange;
        color: #fff;
        border: none;
        font-size: 7px;
        padding: 2px 5px;
        border-radius: 2px;
    }

    .head-box-airline {
        margin-top: -157px;
        height: 170px;
    }

    .marquee-con {
        height: 100px;
        width: 100px;
    }

    .marquee-one {
        margin-top: -50px;
        width: 200%;
        margin-left: -200px;
        padding-left: -200px;
        margin-right: -200px;
        padding-right: -200px;
        height: 250px;
    }

    .main-container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        height: 220px;
        margin-top: 5px;
        align-items: end;
        padding-bottom: 30px;
    }

    .main-container-box {
        border: 1px solid rgb(206, 203, 203);
        height: 60px;
        width: 130px;
        background-color: rgb(248, 248, 248);
        border-radius: 5px;
        text-align: center;
        padding: 10px;
    }

    .main-container-total {
        font-size: 18px;
        font-weight: bold;
        display: block;
    }

    .main-container-total-icon {
        color: green;
    }

    .main-container-title {
        display: block;
    }

    .section-header {
        height: 180px;
        margin-top: 40px;
        margin-bottom: 10px;
        text-align: center;
    }

    .section-heading-title {
        font-size: 20px;
        font-weight: bold;
    }

    .section-heading-sub-title {
        font-size: 18px;
        width: 80%;
        margin: 0 auto;
        font-weight: 400;
        padding-top: 30px;
        display: block;
        color: rgb(99, 98, 98);
    }

    .card-container {
        height: fit-content;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 1px;
    }

    .team-card {
        width: 200px;
        text-align: center;
        padding: 10px;
        margin: 20px 10px;
        box-shadow: 0 0 10px gray;
    }

    .team-card:hover {
        width: 200px;
        text-align: center;
        box-shadow: 0px 0px 10px 0.5px rgb(212, 239, 241);
    }

    .about-caed-img {
        height: 70px;
        width: 70px;
        border-radius: 70px;
        margin: 5px auto;
        display: block;
    }

    .card-title-name {
        font-weight: bold;
        font-size: 15px;
        display: block;
    }

    .card-sub-title-name {
        color: rgb(99, 98, 98);
        font-weight: 400;
        font-size: 12px;
        margin-top: 7px;
        display: block;
    }

    .about-card-icon-container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        height: 50px;
        margin-top: 25px;
    }

    .card-icon {
        height: 30px;
        width: 30px;
        background-color: rgb(246, 243, 243);
        border-radius: 5px;
    }

    .about-card-icons {
        height: 15px;
        margin-top: 6px;
    }
}

/* footer start */
.copy {
    padding-top: 50px;
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: rgb(37, 72, 142);
    color: white;
}
.copy:hover{
    color: gold;
    cursor: pointer;
}
footer{
    background-color: rgb(37, 72, 142);
    height: 350px;
    margin-top: 100px;
}
.footer-container{
    display:flex;
    justify-content: space-around;
}
.footer-box{
    border-bottom: 2px solid goldenrod;
    height: 240px;
    width: 300px;
    color: #fff;
    padding: 20px 10px;
    text-align: justify;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 3;
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.footer ul li {
    flex: 1;
    text-align: start;

}

.footer ul li a {
    display: block;
    color: #fbf8f8;
    text-decoration: none;
    padding: 6px 20px;
    font-size: 15px;
}

.footer ul li a:hover {
    color: gold;
}
.footer-info{
    display: block;
}
.logo-icon{
    height: 50px;
    width: 50px;
    border: 2px solid #f6e105;
    border-radius: 80px;
}
.footer-info:hover{
    color: gold;
    cursor: pointer;
}
.footer-title{
    font-size: 20px ;
    font-weight: bold;
    color: #fff;
    padding-bottom: 20px;
    display: block;
}
.footer-title:hover{
    color: gold;
    cursor: pointer;
}
.footer-address{
    display: block;
    color: #fbf8f8;
    font-size: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 50px;
}
.footer-address:hover{
    color: gold;
    cursor: pointer;
}
.footer-address-title{
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
}
.footer-address-title:hover{
    color: gold;
    cursor: pointer;
}

@media screen and (max-width:768px){
    .copy {
        padding-top: 25px;
        text-align: center;
        width: 100%;
        height: 25px;
        background-color: rgb(37, 72, 142);
        color: white;
        font-size: 14px;
    }
    .copy:hover{
        color: gold;
        cursor: pointer;
    }
    footer{
        background-color: rgb(37, 72, 142);
        height:fit-content;
        padding: 20px 5px;
        margin-top: 100px;
        /* border: 5px solid red; */
    }
    .footer-container{
        display:flex;
        justify-content: space-around;
        flex-wrap:wrap;
    }
    .footer-box{
        border-bottom: 2px solid goldenrod;
        height: 200px;
        width: 300px;
        color: #fff;
        padding: 10px 10px;
        text-align: justify;
    }
    
    .footer ul {
        list-style-type: none;
        margin: 0;
        padding: 3;
        display: flex;
        flex-direction: column;
        justify-content: left;
        flex-wrap: wrap;
    
    }
    
    .footer ul li {
        flex: 1;
        text-align: start;
    
    }
    
    .footer ul li a {
        display: block;
        color: #fbf8f8;
        text-decoration: none;
        padding: 6px 20px;
        font-size: 10px;
    }
    
    .footer ul li a:hover {
        color: gold;
    }
    .footer-info{
        display: block;
        font-size: 10px;
        padding: 10px 2px;
    }
    
    .footer-info:hover{
        color: gold;
        cursor: pointer;
    }
    .logo-icon{
        height: 35px;
        width: 35px;
        border-radius: 80px;
        background-color: #fbf8f8;
        padding: 10px;
    }
    .footer-title{
        font-size: 14px ;
        font-weight: bold;
        color: #fff;
        padding-bottom: 20px;
        display: block;
    }
    .footer-title:hover{
        color: gold;
        cursor: pointer;
    }
    .footer-add-container{
        margin-left: 40px;
    }
    .footer-address{
        display: block;
        color: #fbf8f8;
        font-size: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 50px;
    }
    .footer-address:hover{
        color: gold;
        cursor: pointer;
    }
    .footer-address-title{
        display: block;
        color: #fff;
        font-weight: bold;
        font-size: 11px;
    }
    .footer-address-title:hover{
        color: gold;
        cursor: pointer;
    }
}

/* footer end */