body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #f2f2f2;
}
.navbar {
    background-color: rgb(37, 72, 142);
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    border-bottom: #888888 1px solid;
    box-shadow: 0 0 10px #888888;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 3;
    display: flex;
    justify-content: left;
}

.navbar ul li {
    flex: 1;
    text-align: center;
}

.navbar ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    font-size: 18px;
}

.navbar ul li a:hover {
    color: gold;
}

.img{
    width: 100%;
    height: 100vh;
    background: url(/image/about-image/air.jpg);
    background-size: cover;
    background-position: center;
}
.logo-icon{
    height: 50px;
    width: 50px;
    border: 2px solid #f6e105;
    border-radius: 80px;
}
@media screen and (max-width:768px) {
    .navbar {
        height: 300px;
        background-color: rgb(37, 72, 142);
        box-shadow: 0 0 10px #888888;
        padding: 10px;
        width: 332px;
        position: relative;
    }
    .navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 3;
        display: flex;
        flex-direction: column;
        justify-content: left;

    }

    .navbar ul li {
        flex: 1;
        text-align: start;
    }

    .navbar ul li a {
        display: block;
        color: white;
        text-decoration: none;
        padding: 10px;
        font-size: 12px;
    }

    .navbar ul li a:hover {
        color: rgb(255, 230, 0);
    }

    h1 {
        text-align: left;
        margin-top: 15px;
        margin-left: 20px;
        font-size: 24px;
    }
}
.copy {
    padding-top: 50px;
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: rgb(37, 72, 142);
    color: white;
}
.copy:hover{
    color: gold;
    cursor: pointer;
}
footer{
    background-color: rgb(37, 72, 142);
    height: 350px;
    margin-top: 100px;
}
.footer-container{
    display:flex;
    justify-content: space-around;
}
.footer-box{
    border-bottom: 2px solid goldenrod;
    height: 240px;
    width: 300px;
    color: #fff;
    padding: 20px 10px;
    text-align: justify;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 3;
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.footer ul li {
    flex: 1;
    text-align: start;

}

.footer ul li a {
    display: block;
    color: #fbf8f8;
    text-decoration: none;
    padding: 6px 20px;
    font-size: 15px;
}

.footer ul li a:hover {
    color: gold;
}
.footer-info{
    display: block;
}
.logo-icon{
    height: 50px;
    width: 50px;
    border: 2px solid #f6e105;
    border-radius: 80px;
}
.footer-info:hover{
    color: gold;
    cursor: pointer;
}
.footer-title{
    font-size: 20px ;
    font-weight: bold;
    color: #fff;
    padding-bottom: 20px;
    display: block;
}
.footer-title:hover{
    color: gold;
    cursor: pointer;
}
.footer-address{
    display: block;
    color: #fbf8f8;
    font-size: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 50px;
}
.footer-address:hover{
    color: gold;
    cursor: pointer;
}
.footer-address-title{
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
}
.footer-address-title:hover{
    color: gold;
    cursor: pointer;
}

@media screen and (max-width:768px){
    .copy {
        padding-top: 25px;
        text-align: center;
        width: 100%;
        height: 25px;
        background-color: rgb(37, 72, 142);
        color: white;
        font-size: 14px;
    }
    .copy:hover{
        color: gold;
        cursor: pointer;
    }
    footer{
        background-color: rgb(37, 72, 142);
        height:fit-content;
        padding: 20px 5px;
        margin-top: 100px;
        /* border: 5px solid red; */
    }
    .footer-container{
        display:flex;
        justify-content: space-around;
        flex-wrap:wrap;
    }
    .footer-box{
        border-bottom: 2px solid goldenrod;
        height: 200px;
        width: 300px;
        color: #fff;
        padding: 10px 10px;
        text-align: justify;
    }
    
    .footer ul {
        list-style-type: none;
        margin: 0;
        padding: 3;
        display: flex;
        flex-direction: column;
        justify-content: left;
        flex-wrap: wrap;
    
    }
    
    .footer ul li {
        flex: 1;
        text-align: start;
    
    }
    
    .footer ul li a {
        display: block;
        color: #fbf8f8;
        text-decoration: none;
        padding: 6px 20px;
        font-size: 10px;
    }
    
    .footer ul li a:hover {
        color: gold;
    }
    .footer-info{
        display: block;
        font-size: 10px;
        padding: 10px 2px;
    }
    
    .footer-info:hover{
        color: gold;
        cursor: pointer;
    }
    .logo-icon{
        height: 35px;
        width: 35px;
        border-radius: 80px;
        background-color: #fbf8f8;
        padding: 10px;
    }
    .footer-title{
        font-size: 14px ;
        font-weight: bold;
        color: #fff;
        padding-bottom: 20px;
        display: block;
    }
    .footer-title:hover{
        color: gold;
        cursor: pointer;
    }
    .footer-add-container{
        margin-left: 40px;
    }
    .footer-address{
        display: block;
        color: #fbf8f8;
        font-size: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 50px;
    }
    .footer-address:hover{
        color: gold;
        cursor: pointer;
    }
    .footer-address-title{
        display: block;
        color: #fff;
        font-weight: bold;
        font-size: 11px;
    }
    .footer-address-title:hover{
        color: gold;
        cursor: pointer;
    }
}
.main-img{
    width: 100%;
}
.get-in-touch{
    font-weight: bolder;
    margin-top: 70px;
    margin-left: 70px;
}
.heading{
    height: 50px;
    width: 100%;
    background-color:#d9d9d9;
   
}
.heading p{
    padding: 13px 40px;
    font-size: 20px;
    font-weight: 600px;
    margin-top: 0px;
}
.textarea{
    height: 100px;
    width: 85%;
    margin: 30px 5px;
}
.subject{
    width: 90%;
}
.name-email{
    display: flex;
    flex-direction: row;

}
.block{
    margin: 30px 5px;
    width: 300px;
}
.email{
    margin: 30px 10px;
    width: 300px;
}
.main{
    padding: 20px;
    display: flex;
}
.main h3{
    display: block;
}
.left-main{
    height: 400px;
    width:  60%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin:  5px 20px;
}
.block{
    display: block;
}
.btn{
    height: 50px;
    width: 120px;
    margin: 40px 5px;
    background-color: rgb(37, 72,142);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: white;
}

.icon{
    height: 20px;
}
.right-main{
    display: flex;
    flex-direction: column;
   text-align: center;
   justify-content: start;
   margin: 0px 180px;
}
.right-mains{
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.right-mains h3{
    margin: 2px 0px;
}
.right-mains p{
    margin: 2px 0px;
}

@media screen and (max-width: 600px) {
    .main{
        display: flex;
        flex-direction: column;
    }
    .right-main{
        margin: 5px 10px;
    }
    .name-email{
        display: flex;
        flex-direction:column;
       padding: 0px ;
    }
    .left-main{
        margin: 0px 80px;
    }
    .get-in-touch{
        margin: 0px 80px;
    }
    .left-main{ 
        margin: 0px 80px;
}
.get-in-touch{
    margin: 0px 140px;
}
.navbar ul li{
    margin: 0 3px;
    font-size: 10px;
}

}
  /* Normal Devices */
  @media screen and (min-width: 601px) and (max-width: 791px) {
    .img{
        width: 100%;
    }
    .main{
        display: flex;
        flex-direction: column;
    }
    .textarea{
        width: 90%;
    }
    .name-email{
        display: flex;
        flex-direction:column;
    
    }
    .block{
        margin: 10px 5px;
        width: 300px;
    }
    .email{
        margin: 10px 10px;
        width: 300px;
    }
    .left-main{ 
            margin: 0px 120px;
    }
    .get-in-touch{
        margin: 0px 140px;
    }
    .navbar ul li{
        margin: 0 4px;
        font-size: 12px;    
    }

  
}
/* tablet Devices */
@media screen and (min-width: 792px) and (max-width: 992px) {
    .img{
        width: 100%;
    }
    .main{
        display: flex;
        flex-direction: column;
    }
    .navbar ul li{
        margin: 0 10px;
    }
}
/* Large Devices */
@media screen and (min-width: 993px) and (max-width: 1200px) {
    .img{
        width: 100%;
    }
    .name-email{
        display: flex;
        flex-direction:column;
    
    }
    .navbar ul li{
        font-size: 12px;
    }
}
/* Extra large device */
@media screen and (min-width: 1201px) {
    .img{
        width: 100%;
    }
    .navbar ul li{
        font-size: 18px;
    }
    }