.body{
    margin: 0%;
    background-color: rgb(240, 240, 255);
}
.container{
    background-color:rgb(205, 196, 255);
    margin: 0;
    height: 850px;
    width: 1300px;
    text-align: center;
    padding: 15px;
}
.container{
    background-color: white;
    padding: 10px;
}

.item {
    background-color: #b1dddf;
    height: 200px;
    width: 300px;
    margin: 10px;
    font-size: 50px;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px white;
  }
  .box{
    height: 380px;
    width: 900px;
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    flex-direction: row-reverse;

    
  }
