.body{
    margin: 0%;
    background-color: aliceblue;
}
.container{
    background-color:rgb(255, 196, 219);
    margin: 0;
    height: 850px;
    width: 1300px;
    text-align: center;
    padding: 15px;
}
.container{
    background-color: white;
}

.item {
    background-color: #b1dddf;
    height: 200px;
    width: 300px;
    margin: 10px;
    font-size: 50px;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px white;
  }
  .box{
    height: 380px;
    width: 400px;
    display: flex;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    
  }
