*{
    padding: 0;
    margin: 0;

}

body{
    background-image: url(http://hdqwalls.com/download/airplane-dawn-dusk-flight-sunrise-sky-24-1920x1080.jpg);
    background-size: cover;
    color: #171616;
}
.Rform{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
}

.Rform h1 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}

.Rform p {
    font-size: 20px;
    margin: 15px 0;
}

.Rform input {
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
    border: 0;
    border-radius: 4px;
    outline: none;
}

.Rform button {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 50%;
    border: 0;
    border-radius: 10px;
    background-color: #fff9;
}

.Rform button:hover{
    color:rgb(237, 42, 42);
    border-radius: 20px;
    transition: 1s;
    tr;
}